html {
    background-image: url(img/il_fullxfull.4352455753_jinn.avif);
    height: auto;
    background-position-x: center;   
}

body {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 600px;
    margin: 25px auto;
    padding: 25px 150px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: fit-content;
    
   
    
}